<ul class="pagination">
               
    <li {% if not page_obj.has_previous %}class="disabled"{% endif %}>
        {% if page_obj.has_previous %}                   
            <a href="{{ pagination_url }}?page={{ page_obj.previous_page_number }}&{{ params }}">&laquo;</a>
        {% else %}
            <a href="#">&laquo;</a>
        {% endif %}                   
    </li>
               
    {% for i in paginator.page_range %}                 
        <li {% ifequal page_obj.number i %}class="active"{% endifequal %}>            
            <a href="{{ pagination_url }}?page={{ i }}&{{ params }}">{{i}}</a>                   
        </li>                  
    {% endfor %}
               
    <li {% if not page_obj.has_next %}class="disabled"{% endif %}>   
        {% if page_obj.has_next %}                
            <a href="{{ pagination_url }}?page={{ page_obj.next_page_number }}&{{ params }}">&raquo;</a>
        {% else %}
            <a href="#">&raquo;</a>
        {% endif %}                   
    </li>
  
</ul>